.cardCorner{
    padding: 0px 0px 10px 10px;
  border-radius: 0px 0px 0px 24px;

}

.shape7{
    position: absolute;
    top: 0px;
    left: -24px;
}

.shape8{
  position: absolute;
  bottom: -24px;
  right: 0px;
}
.categories-container {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.manual-arrow {
  font-size: 40px;
  color: #555;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}

.catCard {
  min-width: 500px; 
  transition: transform 0.5s ease-in-out;
  
}

.catCard.active {
  opacity: 1;
}


