@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css */
@font-face {
    font-family: 'regular';
    src: url('./assets/fonts/LibreBaskerville-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'stylish';
    src: url('./assets/fonts/Suranna-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
 
  @font-face {
    font-family: 'bold';
    src: url('./assets/fonts/LibreBaskerville-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'boldq';
    src: url('./assets/fonts/Helvetica-BoldOblique.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
 
 
/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color:#e2b659 ;/* Color of the scrollbar handle */
  border-radius: 10px; /* Roundness of the scrollbar handle */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Make the scrollbar track transparent */
}
  