.navbar {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
  position: fixed;
  color: black;
  z-index: 8;
}

.logo {
  width: auto;
  height: 30px;
}

.whiteBar {
  position: fixed;
  width: 100%;
  height: 10px;
  z-index: 100;
}

.middleNav {
  width: 25%;
  height: 50px;
  background-color: transparent;
  margin-top: 0;
  z-index: 5;
  position: relative;
}

.navPart1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0px 20px 0;
  width: 60%;
  padding: 1rem 2rem;
  height: 60px;
  color: white;
  z-index: 10;
  margin-top: 0;
}

.navPart2 {
  border-radius: 0 0px 0px 20px;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  height: 60px;
  z-index: 10;
}

.navbar-links {
  list-style: none;

  display: flex;
  justify-content: space-between;
  font-size: 16px;
  gap: 1.5rem;
}

.linknav {
  color: black; /* Default color */
  cursor: pointer;
}

.linknav:hover {
  color: #e2b659;
}

.contact-btn {
  padding: 0.25rem 1rem;
  border: none;
  width: 200px;
  height: fit-content;
  font-size: 14px;
  border-radius: 10px;
  border: 2px solid rgb(36, 36, 36);
}

.contact-btn:hover {
  color: white;
}

#curved-corner-bottomleft-,
#curved-corner-bottomright,
#curved-corner-topleft,
#curved-corner-topright {
  width: 24px;
  height: 24px;
  overflow: hidden;
  position: relative;
}

#curved-corner-bottomleft:before,
#curved-corner-bottomright:before,
#curved-corner-topleft:before,
#curved-corner-topright:before {
  content: "";
  display: block;
  width: 200%;
  height: 200%;
  position: absolute;
  border-radius: 50%;
}

#curved-corner-bottomleft:before {
  bottom: 0;
  left: 0;
  box-shadow: -24px 24px 0 0 #2d2d2d;
}

#curved-corner-bottomright:before {
  bottom: 0;
  right: 0;
  box-shadow: 24px 24px 0 0 #2d2d2d;
}

#curved-corner-topleft:before {
  top: 0;
  left: 0;
  box-shadow: -24px -24px 0 0 #2d2d2d;
}

#curved-corner-topright:before {
  top: 0;
  right: 0;
  box-shadow: 24px -24px 0 0 #2d2d2d;
}

.shape1 {
  position: absolute;
  top: 8px;
  left: 0;
}

.shape2 {
  position: absolute;
  top: 10px;
  right: 0px;
}

.shape3 {
  position: absolute;
  bottom: -24px;
  left: 8px;
}

.shape4 {
  position: absolute;
  bottom: -24px;
  right: 0px;
}
/* Hide desktop navbar on mobile screens */
@media screen and (max-width: 768px) {
  .navbar {
    display: none; /* Ensure it doesn’t show up on mobile */
  }

  .mobileNav {
    display: flex; /* Ensure mobile navbar is displayed */
    z-index: 10; /* Keep this on top of all other elements */
  }
}
